window {
margin: 0px;
border: 1px solid #88c0d0;
border-radius: 12px;
background-color: rgba(46, 52, 64, 0.25);
font-family: "JetBrainsMono Nerd Font";
font-size: 10px
}

#input {
margin: 5px;
border: none;
color: rgba(216, 222, 233, 0.45);
background-color: rgba(59, 66, 82, 0.45);
}

#inner-box {
margin: 5px;
border: none;
background-color: rgba(46, 52, 64, 0.25);
}

#outer-box {
margin: 5px;
border: none;
background-color: rgba(46, 52, 64, 0.25);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: rgba(216, 222, 233, 1);
}

#entry:selected {
background-color: rgba(59, 66, 82, 0.25);
}
